<!-- Including InstantSearch.js library and styling -->
<script src="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch.min.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.6.0/dist/instantsearch-theme-algolia.min.css">

<script>

let readableCollectionNames = {
    "list-asian" : "Asian",
    "list-black" : "Black",
    "list-mena" : "Middle Eastern and North African",
    "list-latinx" : "Latinx",
    "list-problematic" : "Problematic"
};

let companyBlurb = function (hit) {
    if (hit.collection == "list-problematic") {
        return hit.html;
    } else {
        return hit.company.description;
    }
}

let brandUrl = function (hit) {
    if (hit.collection == "list-problematic") {
        return hit.url;
    } else {
        return hit.company.url.shop;
    }
}


// Instanciating InstantSearch.js with Algolia credentials
const search = instantsearch({
  appId: '{{ site.algolia.application_id }}',
  indexName: '{{ site.algolia.index_name }}',
  apiKey: '{{ site.algolia.search_only_api_key }}'
});

// Adding searchbar and results widgets
search.addWidget(
  instantsearch.widgets.searchBox({
    container: '#search-searchbar',
    placeholder: 'Search brands...',
    poweredBy: true // This is required if you're on the free Community plan
  })
);
search.addWidget(
  instantsearch.widgets.hits({
    container: '#search-hits',
    attribute: 'collection',
    transformData: {
        item: function(hit) {
            let validCollections = ["list-asian", "list-black", "list-mena", "list-latinx", "list-problematic"];
            if (!validCollections.includes(hit.collection)) {
                hit.show = false;
            } else { hit.show = true; }
            return hit;
        }
    },
    templates: {
      item: function(hit) {
          if (hit.show) {
            return `
            <div class="post-item">
                <h2><a class="post-link" href="{{ site.baseurl }}${brandUrl(hit)}">${hit.title}</a></h2>
                <h3>${readableCollectionNames[hit.collection]}</h3>
                <div class="post-snippet">${companyBlurb(hit)}</div>
            </div>
            `;
        } else {
            return '';
        }
      }
    }
    
  })
);

// Starting the search
search.start();
</script>

